* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #fafafa;
    font-family: 'Bangers', cursive;;
}

.heading {
    font-size: 50px;
    text-align: center;
}
 
  .memory-game {
    width: 350px;
    height: 280px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }

  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
  }

  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }

  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border: 2px solid #E63946;
    border-radius: 10px;
    background: #C3E6CB;
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }